{% extends 'Admin/layout.html.twig' %}

{% block main_content %}
    {% if boxes %}
        <ul>
        {% for box in boxes %}
            <li><a href="{{ url('admin_box_view', {id: box.id}) }}">{{ box.title }} | {{ box.budget }} | {{ box.user.lastName }} | {{ box.status }}</a>

                {# CREATOR #}
                
                {% if is_granted('ROLE_BOX_CREATOR') %}

                    {# Place: box_created -> box filled #}
                    {% if box.status == 'box_created' or box.status == 'invalidated' %}
                        | <a href="{{ url('admin_box_edit', {id: box.id}) }}">{{ 'admin.panel.link.edit'|trans }}Edit</a>
                        | <a href="{{ url('admin_box_add', {id: box.id}) }}">{{ 'admin.panel.link.fiil'|trans }}Fill Box</a>
                    {% endif %}

                {% endif %}


                {# VALIDATOR #}
            
                {% if is_granted('ROLE_BOX_VALIDATOR') %}

                    {# Place: box-filled -> validation #}
                    {% if box.status == 'box_filled' %}
                        | <a href="{{ url('admin_box_order', {id: box.id}) }}">{{ 'admin.panel.link.order'|trans }}Order Products</a>
                    {% endif %}
                    
                    {# Place: validation -> invalidated | go #}
                    {% if box.status == 'validation' %}
                        | <a href="{{ url('admin_box_validate', {id: box.id}) }}">{{ 'admin.panel.link.box.validate'|trans }}Validate Box</a>
                        | <a href="{{ url('admin_box_invalidate', {id: box.id}) }}">{{ 'admin.panel.link.box.invalidate'|trans }}Invalidate Box</a>
                    {% endif %}

                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{{ 'admin.panel.msg.nobox'|trans }}0 box found</p>
        <p>{% if is_granted('ROLE_BOX_CREATOR') %}
                <a href="{{ url('admin_box_create') }}">{{ 'admin.panel.msg.box.create'|trans }}Create a new Box here!</a>
            {% endif %}
        </p>
    {% endif %}

{% endblock %}
