{% extends 'base.html.twig' %}

{% block title %}
    Dashboard Template for Bootstrap
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Custom styles for this template -->
    <link href="{{ asset('css/vendor/dashboard.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}

    {% block navbar '' %}

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url('admin_index') }}">{{ 'admin.panel.title'|trans }}</a>
        {#<input class="form-control form-control-dark w-100" type="text" placeholder="{{ 'admin.panel.placeholder.search'|trans }}Search" aria-label="{{ 'admin.panel.placeholder.search'|trans }}Search">#}
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{{ url('admin_security_logout') }}">{{ 'admin.panel.logout'|trans }}</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">

            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url('admin_index') }}">
                                <span data-feather="home"></span>
                                {{ 'admin.panel.sidebar.home' }}Dashboard <span class="sr-only">(current)</span>
                            </a>
                        </li>

                        {# Menu #}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url('admin_index') }}">
                                <span data-feather="user"></span>
                                {{ app.user.firstName ~ ' ' ~ app.user.lastName }}
                            </a>
                        </li>

                        {% if is_granted('ROLE_BOX_CREATOR') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url('admin_box_create') }}">
                                    <span data-feather="plus-circle"></span>
                                    {{ 'admin.panel.sidebar.box.create'|trans }}
                                </a>
                            </li>
                        {% endif %}

                        {% if is_granted('ROLE_BOX_VALIDATOR') %}
                            {#<li class="nav-item">#}
                                {#<a class="nav-link" href="#">#}
                                    {#<span data-feather="shopping-cart"></span>#}
                                    {#{{ 'admin.panel.sidebar.box.validate' }}Validate Box#}
                                {#</a>#}
                            {#</li>#}
                        {% endif %}

                        {% block sidebar '' %}

                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                </div>

                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-warning">
                        {{ message }}
                    </div>
                {% endfor %}

                {% block main_content '' %}

            </main>

        </div>
    </div>
{% endblock %}




{% block javascripts %}

    {{ parent() }}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ asset('js/vendor/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ asset('js/vendor/popper.min.js') }}"></script>
    <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
    
{% endblock %}